html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#content {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#registration-form-container {
    position: relative;
    text-align: center;
    border: 2px black solid;
    overflow: auto;
}
#registration-form {
    padding: 0 10px 0 10px;    
}
input, label {
    margin: 5px;
}
input:invalid {
    box-shadow: 5px 5px pink;
}
#submit-button {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}